mixin accessory(banner,caption,img1,img2,name,text)
    .accessory-banner(style=banner)
        .accessory-banner__overlay
    section.accessory
        .container
            h1.accessory__caption=caption
            .accessory__row
                .accessory__column
                    .accessory__img
                        img(src=img1, alt=caption)
                    a.accessory__name(href="#")=name
                    .accessory__text=text
                .accessory__column
                    .accessory__img
                        img(src=img2, alt=caption)
