-
    var list = [
        {name:"О компании"},
        {
            name:"Продукция",
            twoList:[
                {name:"TOLSTOY Гастрономическая линия"},
                {name:"CHEKHOV Пекарская линия"},
                {name:"GOGOL Линия конвекционных печей"},
                {name:"PUSHKIN Линия расстоечных шкафов"},
                {
                    name:"АКСЕССУАРЫ",
                    threeList:["КОПТИЛЬНИ","РЕШЕТКИ И ПРОТИВНИ","ВЫТЯЖКИ","УХОД И ОБСЛУЖИВАНИЕ","ПОДСТАВКИ",]
                },
            ],
        },
        {name:"Сферы применения"},
        {name:"Конфигуратор"},
        {name:"Где купить"},
        {name:"Сервис"},
        {name:"Контакты"}
    ]

nav.nav.header__nav.js-block.js-block-inactive(data-block="header-nav")
    ul.nav__list
        each item,index in list
            if index == 0
                li.nav__item.active
                    a.nav__link(href="#")=item.name
            else
                li.nav__item
                    if item.twoList
                        span.nav__link=item.name
                        ul.nav__two-list
                            each item2 in item.twoList
                                li.nav__two-item
                                    if item2.threeList
                                        span.nav__two-link=item2.name
                                        span=">"
                                        ul.nav__three-list
                                            each item3 in item2.threeList
                                                li.nav__three-item
                                                    a.nav__three-link(href="#")=item3
                                    else
                                        a.nav__two-link(href="#")=item2.name
                    else
                        a.nav__link(href="#")=item.name
