-
    var arr1 = [
        {name:"Технология",td1:"Электрический/Комбинированный",td2:"Электрический/Комбинированный",td3:"Электрический/Комбинированный"},
        {name:"Емкость лотка",td1:"12 GN1/1",td2:"12 GN1/1",td3:"12 GN1/1"},
        {name:"Растояние между лотками",td1:"70 мм",td2:"70 мм",td3:"70 мм"},
        {name:"Частота (Гц)",td1:"50/60",td2:"50/60",td3:"50/60"},
        {name:"Напряжение",td1:"400В 3N~",td2:"400В 3N~",td3:"400В 3N~"},
        {name:"Мощность (кВт)",td1:"15,7",td2:"15,7",td3:"15,7"},
        {name:"Размер (ШхГхВ,мм)",td1:"876x826x1268",td2:"876x826x1268",td3:"876x826x1268"},
        {name:"Максимальная температура приготовления",td1:"260&deg;C",td2:"260&deg;C",td3:"260&deg;C"},
        {name:"Вес , кг",td1:"131",td2:"131",td3:"131"},
    ]

    var arr2 = [
        {
            name:"Manual cooking",
            arr3:[
                {
                    firstTd:"Convection cooking",
                    td:"<span>30&deg;C-260&deg;C <span class='black'></span></span>",
                },
                {
                    firstTd:"X ECOSYSTEM",
                    td:"<span>30&deg;C-230&deg;C <span class='black'></span></span>",
                },
                {
                    firstTd:"Steaming",
                    td:"<span>35&deg;C-130&deg;C <span class='black'></span></span>",
                },
                {
                    firstTd:"X DRY",
                    td:"<span>30&deg;C-260&deg;C <span class='black'></span></span>",
                },
                {
                    firstTd:"Delta T Cooking with X CORE",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"X CORE",
                    td:"<span><span class='black'></span></span>",
                },
            ]
        },
        {
            name:"Srecial Cycles",
            arr3:[
                {
                    firstTd:"Overnight Cooking",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"Automatic Cooking",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"X CLEAN",
                    td:"<span><span class='white'></span></span>",
                },
            ]
        },
        {
            name:"Automatic Cooking",
            arr3:[
                {
                    firstTd:"Recipe book",
                    td:"<span>99 programs <span class='black'></span></span>",
                },
                {
                    firstTd:"Overnight automatic cleaning program",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"Cooking cycles for each program",
                    td:"<span>n&deg;4 <span class='white'></span></span>",
                },
            ]
        },
        {
            name:"Air sistribution im the cooking chamber",
            arr3:[
                {
                    firstTd:"XEQUAL",
                    td:"<span><span class='black'></span></span>",
                },
            ]
        },
        {
            name:"X DOUBLE",
            arr3:[
                {
                    firstTd:"X DOUBLE with ovens",
                    td:"<span><span class='white'></span></span>",
                },
                {
                    firstTd:"X DOUBLE with blast chillers",
                    td:"<span><span class='white'></span></span>",
                },
                {
                    firstTd:"X DOUBLE with proofers",
                    td:"<span><span class='white'></span></span>",
                },
                {
                    firstTd:"X DOUBLE with stand",
                    td:"<span><span class='white'></span></span>",
                },
            ]
        },
        {
            name:"Other function",
            arr3:[
                {
                    firstTd:"Infinity time",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"Unit of temperature:F&deg; or C&deg;",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"Lights",
                    td:"<span>HALOGEN <span class='black'></span></span>",
                },
            ]
        },
        {
            name:"Technical details",
            arr3:[
                {
                    firstTd:"Intenal glass with easy dean system",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"X SAFE",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"External connection for core probe",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"Digital water injector control",
                    td:"<span><span class='black'></span></span>",
                },
                {
                    firstTd:"X REVERSE door",
                    td:"<span><span class='black'></span></span>",
                },
            ]
        },
    ]

table.comparison-table.comparison__table
    thead
        tr
            th
            - for(var i=0;i<3;i++)
                th
                    .comparison-table__th-img
                        img(src="img/tolstoy-oven-6.png", alt="th-img")
                        ul.hover-list.comparison-table__hover-list
                            li.hover-list__item
                                a.hover-list__link(href="#") Информация
                            li.hover-list__item
                                a.hover-list__link(href="#") Сравнить
                            li.hover-list__item
                                a.hover-list__link(href="#") Конфигурировать
                    .comparison-table__caption TL12DYC / TL12DY0
                    .comparison-table__cash
                        |Цена <span>000,00</span> руб.
    tbody
        tr
            td.comparison-table__check(colspan="4")
                form(action="#" method="GET")
                    label
                        input.visually-hidden(type="checkbox")
                        span
                        |Показать только отличия
        tr
            td.comparison-table__row-head(colspan="4") Технические характеристики
        each row in arr1
            tr.comparison-table__first-block
                td!=row.name
                td!=row.td1
                td!=row.td2
                td!=row.td3
        tr
            td.comparison-table__row-head(colspan="4") Технологии
        each row in arr2
            tr.comparison-table__two-block-head
                td=row.name
                td
                td
                td
            each minRow in row.arr3
                tr.comparison-table__two-block
                    td!=minRow.firstTd
                    - for (var j=0;j<3;j++)
                        td!=minRow.td
    tfoot
        tr
            td(colspan="4")
                ul.comparison-table__tag-list
                    li Standart
                        span.black
                    li Optional
                        span.white
                    li Notavailable -

        tr
            td
            -for (var i=0;i<3;i++)
                td
                    a(href="#") Скачать спецификацию копия
